@font-face {
    font-family: 'Futura';
    src: url(fonts/FuturaNowHeadlineMedium.ttf);
    font-family: 'TruenoRound';
    src: url(fonts/TruenoRound.otf);
}
@font-face {
    font-family: 'Balboa';
    src: url(fonts/FontsFree-Net-Balboa-W01-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

body {
    background: white;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  #piece{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
    cursor: pointer;
    height: 50vh;
    max-height: 820px;
    position: relative;
    width: calc(50vh * 0.774);
    margin-top: 12px;
  }
  

  .frame-background{
    display: none;
    margin-top: 150px;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    width: 100%;
    background: url(https://www.muraldecal.com/en/img/fomb008-png/folder/products-detalle-png/wall-murals-white-brick-texture.png);
}
  #frame{
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/141041/banksy-frame.png);
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  #holder{
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/141041/banksy-back.jpg);
    background-size: cover;
    height: calc(50vh * 0.69);
    left: 18.9%;
    position: absolute;
    top: 15.4%;
    width: calc(50vh * 0.774 * 0.617);
  }
  
  #painting{
    height: 100%;
    position: absolute;
    transform: translateY(0%);
    width: 100%;
  }
  
  #original{
    background: url(https://i.redd.it/ewvjfgkmhw781.jpg);
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  #original2{
    background: url(https://www.delcampe.net/static/img_large/auction/000/546/115/985_001.jpg);
    background-size: cover;
    height: 101%;
    position: absolute;
    top: 0;
    width: 101%;
  }

  #original1{
    background: url(https://pbs.twimg.com/media/EkU1uCBWoAAF_4f.jpg);
    background-size: cover;
    height: 101%;
    position: absolute;
    top: 0;
    width: 101%;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TruenoRound', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color:#fff;
    --nav-color: #d0d0d0;
    --side-nav: #fff;
    --text-color: #244AA5;
    --search-bar: #244AA5;
    --search-text: #d0d0d0;
    --underline-color: #D0A650;
    --dropdown-background: #ececec;
    --shiriti-color: #D0A650;
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
    --underline-color: #244AA5;
    --dropdown-background: #2c2d2d;
    --shiriti-color: #fff;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}
.logo-KS{
    display: flex;
    align-items: center;
}

.logo{
    margin: 0 5px;
}

.logo-KS img{
    display: flex;
    justify-content: end;
    width: 36px;
    height: 38px;

}
nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 700;
    color: #D0A650;
    text-decoration: none;
    user-select: none;
    /* margin-right: 75px; */
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 60%;
    background-color: var( --underline-color);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    font-size: 17px;
    color: var(--text-color);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--nav-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    background-color: var(--dropdown-background);
    color: var(--text-color);
    font-size: 15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: var(--underline-color);
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

@media (max-width: 820px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}

.video-background{
    position: relative;
    width: 100%;
    height: 83vh;
    overflow: hidden;
}

.video-background video{
    object-fit: cover;
}

#myVideo{
    width: 100%;
}

#myPhoto{
    display: none; 
    width: 100%;
    height: auto;
}

.content{
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.content h1{
    font-size: 60px;
    font-weight: 200;
    color: white;
    font-family: 'Futura', sans-serif;
}

.content p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    margin-top: 20px;
}

.buttoni-c:hover{
    background-color: #2551b9;
    color: white;    
    transition: 0.3s;
    border: 2px solid #2551b9;
}

@media (max-width: 768px) {
    #myVideo{
        display: none;
    }

    #myPhoto{
        display: block;
        height: 83vh;
    }
    .content {
        top: 50%; 
    }

    .content h1 {
        font-size: 40px; 
    }

    .content p {
        font-size: 16px; 
    }

    .content a {
        font-size: 18px; 
        padding: 10px 40px; 
    }
}



.paper{
    height: 40vh;
    width: 100%;
    position:absolute;
    min-height:40px;
    top: 55%;
}

.ripped-paper{
    display: block;
}

.overlay-text{
    /* display: block; */
    text-align: center;
    position: relative;
    padding-top: 10px;
    font-family: 'Balboa';
    font-size: 45px;
}

.overlay-text::before,
.overlay-text::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    width: 40%; 
    background: linear-gradient(to right, transparent, rgb(110, 110, 110), transparent); 
}

.overlay-text::before {
    left: 5%; 
    transform: translateY(-50%);
}

.overlay-text::after {
    right: 5%; 
    transform: translateY(-50%);
}

.komunat-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    column-gap: 20px;
    height: auto; 
    width: 100%;
    z-index: 1;
    max-width: 800px; 
    margin: 0 auto; 
    margin-top: 25px;
}

.komunat-photo img {
    flex: 0 1 auto; 
    height: 60px;
    width: 50px;
    margin: 15px;
    z-index: 1;
}

#slider {
    display: flex;
}

#slider-container{
    max-width: 100%;
    overflow: auto;
}

#slider-container::-webkit-scrollbar {
    display: none;
}

#slider-container img{
    height: 600px;
    width: 900px;
}

.slide {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shiriti-icon{
    margin-top: 150px;
    background-color: var(--nav-color);
    height: 80px;
    width: 100%;
}

.shiriti-fotot{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.shiriti-icon span{
    font-size: 45px;
    color: #fff;
    padding-top: 15px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.shiriti-poshtem{
    margin-top: -4px;
    height: 40px;
    width: 100%;
    display: flex;
}

.shiriti-1{
    height: 20px;
    background-color: #244AA5;
    flex: 1;
}

.shiriti-2{
    background-color: #D0A650;
    height: 20px;
    flex: 1;
}

.mapdiv{
    text-align: center;
    margin-top: 150px;
}

.mapdiv path{
    stroke: black;
    stroke-width: 3px;
}

.region-path {
    fill: transparent; 
    transition: fill 0.2s;
}

.KS-PR:hover{
    fill: rgb(94, 212, 252);
    stroke: white;
}

.KS-MR:hover{
    fill: green;
    stroke: black;
}

.KS-PZ:hover{
    fill: orange;
    stroke: black;
}

.KS-PE:hover{
    fill: red;
    stroke: white;
}

.KS-FE:hover{
    fill: blue;
    stroke: white;
}

.KS-GL:hover{
    fill: #d1281c;
    stroke: white;
}

.KS-GJ:hover{
    fill: #ba271d;
    stroke: black;
}
.region-name {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

