@font-face {
    font-family: 'Futura';
    src: url(fonts/FuturaNowHeadlineMedium.ttf);
    font-family: 'TruenoRound';
    src: url(fonts/TruenoRound.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    background: #171717;
    align-items: center;
    z-index: 100;
}

.logo #img-logo{
    height: 35px;
    width: 35px;
}

.header h1{
    position: absolute;
    left: 8%;
    color: white;
}
.navbar a{
    font-size: 18px;
    color: rgb(148, 148, 148);
    font-weight: 500;
    font-family: 'TruenoRound';
    text-decoration: none;
    margin-left: 40px;
}

.navbar a:hover{
    color: #244AA5;
    transition: .3s;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 6px;
    background: #244AA5;
    transition: .3s;
}

.navbar img{
    height: 25px;
    width: 20px;
}

.navbar a:hover::before{
    width: 100%;
}

body {
    background: white;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

.video-background{
    position: relative;
    width: 100%;
    height: 83vh;
    overflow: hidden;
}

#myVideo{
    width: 100%;
}

.content{
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.content h1{
    font-size: 60px;
    font-weight: 200;
    color: white;
    font-family: 'Futura', sans-serif;
}

.content p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    margin-top: 20px;
}

.buttoni-c:hover{
    background-color: #2551b9;
    color: white;    
    transition: 0.3s;
    border: 2px solid #2551b9;
}


.paper{
    height: 40vh;
    width: 100%;
    position:absolute;
    min-height:40px;
    top: 55%;
}

.mapdiv{
    text-align: center;
    margin-top: 150px;
}

.mapdiv path{
    stroke: black;
    stroke-width: 3px;
}

.region-path {
    fill: transparent; /* Default background color */
    transition: fill 0.2s;
}
.KS-PR:hover{
    fill: rgb(94, 212, 252);
    stroke: white;
}

.KS-MR:hover{
    fill: green;
    stroke: black;
}

.KS-PZ:hover{
    fill: orange;
    stroke: black;
}

.KS-PE:hover{
    fill: red;
    stroke: white;
}

.KS-FE:hover{
    fill: blue;
    stroke: white;
}

.KS-GL:hover{
    fill: #d1281c;
    stroke: white;
}

.KS-GJ:hover{
    fill: #ba271d;
    stroke: black;
}
.region-name {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}


@media screen and (max-width: 890px) {
    div.video-background{
        display: none;
    }
    
}

@media screen and (max-width: 1600px){
    .header h1{
        display: none;
    }
}